/* --color section  */
:root {
    --app--yellow: #ffc221;
    --app--black: #070500;
  }
  /* --nvbar start */
  .logo-images {
    margin-left: 10px;
  }
  .nav-item {
    margin: 0px 10px;
    text-transform: uppercase;
    font-size: 20px;
    color: #ffc221;
  }
  .nav-link:hover {
    color: var(--app--yellow) !important;
    text-decoration: underline !important;
  }
  .navbar-btn{
      text-transform: uppercase;
      padding: 10px !important;
  }
  /* --navbar end-- */
  
/* --contat form ssection */
.main-section{
    display: flex;
    justify-content: center;
    margin-top:10px;
    background-color: var(--app--black);
    color: var(--app--yellow);
}
.form-label{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}